a:focus {
  box-shadow: none;
}

.cfc-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.section-lists {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #80808047;
  padding-bottom: 4px;
}

ul.section-lists > li {
  margin: 0;
}

ul.section-lists > li > a {
  text-decoration: none;
  color: gray;
  padding: 10px;
  padding-bottom: 5px;
}

a.cfc-sec-active {
  color: #65bc7b !important;
  border-bottom: 1px solid #65bc7b;
}

.cfc-card {
  padding: 15px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 1px 0 0 #e6e6e6;
  cursor: all-scroll;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.cfc-primary-button {
  color: #fff;
  box-shadow: #65bc7b 0 1px 0;
  text-shadow: #65bc7b 0 -1px 1px, #65bc7b 1px 0 1px, #65bc7b 0 1px 1px, #65bc7b -1px 0 1px;
  background: #65bc7b;
  border-color: #41c345 #65bc7b #5fa771;
}

.cfc-primary-button:hover,
.cfc-primary-button:focus,
.cfc-primary-button:active,
.cfc-secondary-button:hover,
.cfc-secondary-button:focus,
.cfc-secondary-button:active,
.cfc-danger-button:hover,
.cfc-danger-button:focus,
.cfc-danger-button:active {
  box-shadow: none;
  outline: none;
}

button.sdevs-button.cfc-secondary-button {
  border-color: #ddd;
  background-color: transparent;
  color: #888;
  border-width: 2px;
  margin-right: 15px;
}

.cfc-card-icons {
  display: flex;
  align-items: center;
}

.cfc-icon {
  cursor: pointer;
}

.cfc-modal-titlebar {
  padding: 15px;
  border-bottom: 1px solid #6d5e5e38;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cfc-admin-form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #888;
}

.cfc-admin-form-row > div {
  width: 50%;
}

.cfc-admin-form-col {
  display: grid;
  padding: 15px;
  color: #888;
}

.cfc-admin-form-col > label {
  font-weight: 600;
  margin-bottom: 5px;
}

.cfc-admin-form-col > input {
  border: 1px solid #ddd;
}

.cfc-admin-form-col > input:focus {
  border: 1px solid #ddd;
  box-shadow: none;
}

.cfc-admin-form-buttons {
  padding: 20px;
  position: absolute;
  bottom: 0;
}

.cfc-danger-button {
  color: #fff;
  box-shadow: #d22a2a 0 1px 0;
  text-shadow: #dc3232 0 -1px 1px, #dc3232 1px 0 1px, #dc3232 0 1px 1px, #dc3232 -1px 0 1px;
  background: #dc3232;
  border-color: #dc3232 #dc3232bd #dc3232c2;
}

.cfc-form-options > ul {
  display: flex;
  align-items: center;
  padding: 3px 6px;
  border-bottom: 1px solid #ddd;
}

.cfc-form-options > ul > li {
  margin: 0;
}

.cfc-form-options > ul > li > a {
  text-decoration: none;
  color: #444444d6;
  text-transform: uppercase;
  padding: 10px 15px;
  position: relative;
  top: -6px;
  font-weight: 600;
  font-size: 12px;
}

.cfc-form-options > ul > li > a:focus {
  outline: none;
  box-shadow: none;
}

.cfc-form-options > ul > li > a.active {
  color: #65bc7b;
  border-bottom: 1px solid #65bc7b;
}

.cfc-form-fields {
  overflow: auto;
  height: 330px;
}

.cfc-multi-buttons {
  display: flex;
  align-items: center;
}

.cfc-multi-buttons > button {
  margin-right: 5px;
}

.cfc-card-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cfc-card-row .col {
  width: 50%;
  margin: 0px 5px;
}

ul.cfc-column-lists {
  overflow: auto;
  height: 450px;
  margin: 20px;
}

ul.cfc-column-lists li {
  border: 1px solid #e6e6e6;
  padding: 10px;
  font-weight: 600;
  box-shadow: 1px 1px 3px 0px #6b66660f;
  border-radius: 3px;
  cursor: pointer;
}

